<div class="weekly_report">
    ORDERS DETAIL 
    {% for order in orders %}
    <div class="order">
        Order id: {{order.id}}
        Customer id: {{order.user.id}}
        {% for item in order.items.all %}
            Product id: {{item.book.id}}
            Product price: {{item.price}}
            Product quantity: {{item.quantity}}
            Total Cost: {{item.get_cost}}$
        {% endfor %}
        TOTAL INCOME FOR ORDER №{{order.id}}: {{order.get_total_cost}}$
        <hr>
    </div>
    {% endfor %}
    
</div>