#main{
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  

#sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position:absolute;
  }
  
  /* Sidebar links */
#sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  /* Active/current link */
#sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Links on mouse-over */
#sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

#author_list{
    box-sizing: border-box!important;
  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    width: 400px;
    height: 400px;
    position: relative;
    margin: auto;
  }
  
  .letter {
    position: relative;
    display: block;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(6, 1fr);
    border: 20px solid transparent; 
  }
  